<app-nabvar></app-nabvar>
<div class="home-container">

  <div class="title-container">
    <div class="title-item">
      <h1> Bienvenido Nombre de Usuario</h1>
    </div>    
  </div>

  <!-- Fila de Horas Proyectadas y Horas Reales -->
  <div class="hours-container">
    <div class="hours-item">
      <label for="horasProyectadas">Horas Proyectadas:</label>
      <input type="number" id="horasProyectadas"/>
    </div>
    <div class="hours-item">
      <label for="horasReales">Horas Reales:</label>
      <input type="number" id="horasReales"/>
    </div>
  </div>

  <!-- Botones de acción rápida -->
  <div class="action-buttons">
    <button class="action-btn" routerLink="/employee">
      <img src="./assets/empleados.png" alt="Empleados"/>
      <span>Empleados</span>
    </button>
    <button class="action-btn" routerLink="/control-horario">
      <img src="./assets/reloj.png" alt="Control Horario" />
      <span>Control Horario</span>
    </button>
    <button class="action-btn" routerLink="/ordenes-trabajo">
      <img src="./assets/odt.png" alt="Órdenes de Trabajo" />
      <span>Órdenes de Trabajo</span>
    </button>
    <button class="action-btn" routerLink="/informes">
      <img src="./assets/Informes.png" alt="Informes" />
      <span>Informes</span>
    </button>
    <button class="action-btn" routerLink="/empresas">
      <img src="./assets/servicios.png" alt="Servicios" />
      <span>Servicios</span>
    </button>
    <button class="action-btn" routerLink="/facturacion">
      <img src="./assets/factura.png" alt="Facturación" />
      <span>Facturación</span>
    </button>
  </div>
</div>
