.home-container {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.title-container {
  margin-bottom: 20px;
  text-align: center;
}

.title-item h1 {
  color: #333;
  font-size: 2em;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.orden-trabajo-container {
  width: 65%;
}

.info-container {
  width: 30%;
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
  color: #333;
  font-size: 1.5em;
}

.hours-item,
.month-item {
  margin: 1.5em 0;
}

.hours-item label,
.month-item label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.hours-item input,
.month-item input {
  width: 100%;
  padding: 10px;
  border: 1px solid #D4D4D4;
  border-radius: 0.5rem;
  outline: none;
}

.orden-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.orden-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
}

.orden-card:hover {
  transform: translateY(-5px);
}

.orden-card-header h4 {
  font-size: 1.5em;
  color: #333;
}

.status {
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 0.9em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.status.completed {
  background-color: #4CAF50;
  color: white;
}

.status.pending {
  background-color: grey;
  color: white;
}

.orden-card-footer button {
  background-color: #CC5600;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.orden-card-footer button:hover {
  background-color: #a94400;
}
