.home-container {
  display: flex;
  flex-direction: column;
  margin-left: 240px;
  margin-right: 100px;
  margin-top: 1.5em;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  background-color:#333333;
  text-align: center;
  height: 6.2em;
}

.title-item h1 {
  color: white;
  font-size: 2em;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.orden-trabajo-container {
  width: 70%;
  height: 60%;
}

.info-container {
  width: 25%;
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ffba8c;
  border-radius: 8px;
  border-width: 1px;
  border-color: #ffba8c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); 
}

h3 {
  text-align: center;
  color: #333;
  font-size: 1.5em;
}

.hours-item,
.month-item {
  margin: 1.5em 0;
}

.hours-item label,
.month-item label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.hours-item input,
.month-item input {
  width: 100%;
  padding: 10px;
  border: 1px solid #D4D4D4;
  border-radius: 0.5rem;
  outline: none;
}


.status {
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 0.9em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.status.completed {
  background-color: #28a745;
  border-color: #343a40;
  color: white;
}

.status.pending {
  background-color: #fd7e14;
  color: white;
}

.btn-info {
  color: #343a40;
  background-color: white;
  border: white;
  cursor: pointer;
}
