  <div class="title-container">
    <div class="title-item">
      <h1>Bienvenido {{ username }}</h1>
    </div>
  </div>

<div class="home-container">
  <div class="main-content">
    <!-- Lado izquierdo: Listado de Órdenes de Trabajo -->
    <div class="orden-trabajo-container">
      <h3>Listado de Órdenes de Trabajo</h3>
      
      <div class="table-container mat-elevation-z8">

        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

        <table mat-table [dataSource]="dataSource">
          <!-- Orden N° -->
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> Orden N° </th>
            <td mat-cell *matCellDef="let orden"> {{ orden.Id }} </td>
          </ng-container>
    
          <!-- Empresa -->
          <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let orden"> {{ orden.servicio.nombre }} </td>
          </ng-container>
    
          <!-- Empleado -->
          <ng-container matColumnDef="empleado">
            <th mat-header-cell *matHeaderCellDef> Empleado </th>
            <td mat-cell *matCellDef="let orden">
              {{ orden.empleadoAsignado.nombre }} {{ orden.empleadoAsignado.apellido }}
            </td>
          </ng-container>
    
          <!-- Horas Proyectadas -->
          <ng-container matColumnDef="horasProyectadas">
            <th mat-header-cell *matHeaderCellDef> Horas Proyectadas </th>
            <td mat-cell *matCellDef="let orden"> {{ orden.horasProyectadas }} horas </td>
          </ng-container>
    
          <!-- Horas Reales -->
          <ng-container matColumnDef="horasReales">
            <th mat-header-cell *matHeaderCellDef> Horas Reales </th>
            <td mat-cell *matCellDef="let orden"> {{ orden.horasReales }} horas </td>
          </ng-container>
    
          <!-- Estado -->
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let orden">
              <span [ngClass]="orden.completado ? 'status completed' : 'status pending'">
                {{ orden.completado ? 'Completada' : 'En Curso' }}
              </span>
            </td>
          </ng-container>
    
          <!-- Acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let orden">
              <button mat-icon-button color="primary" [routerLink]="['/ordentrabajo/view', orden.Id]">
                <mat-icon>visibility</mat-icon>
              </button>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="[5,10,25,100]" [pageSize]="25" aria-label="Seleccionar Pagina"></mat-paginator>
      </div>
    </div>
    

    <!-- Lado derecho: Información de Horas y Mes -->
    <div class="info-container">
      <h3>Información Mensual</h3>
      <div class="month-item">
        <label for="mesActual">Mes en curso:</label>
        <input type="text" id="mesActual" [(ngModel)]="mesActual" readonly />
      </div>
      <div class="hours-item">
        <label for="horasProyectadas">Horas Proyectadas:</label>
        <input type="text" id="horasProyectadas" [(ngModel)]="horasProyectadas" readonly />
      </div>
      <div class="hours-item">
        <label for="horasReales">Horas Reales:</label>
        <input type="text" id="horasReales" [(ngModel)]="horasReales" readonly />
      </div>
      <div class="actions-item">
        <button mat-raised-button color="primary" (click)="ejecutarRenovacionManual()">Renovar Órdenes</button>
    </div>
  </div>
</div>
