.home-container {
    margin: 2%;
  }
  
  .hours-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .hours-item {
    flex: 1;
    margin-right: 20px;
  }
  
  .hours-item label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .hours-item input {
    width: 100%;
    padding: 10px;
    border: 1px solid #D4D4D4;
    border-radius: 0.5rem;
    outline: none;
  }
  
  .action-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #CC5600;
    color: #ffffff;
    border: 2px solid #CC5600;
    border-radius: 8px;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    padding: 10px;
  }
  
  .action-btn:hover {
    background-color: #a54e00;
    border-color: #a54e00;
  }
  
  .action-btn img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .action-btn span {
    font-size: 0.875rem;
  }
  