<div class="title-container">
  <div class="title-item">
    <h1>Perfil Empresa</h1>
  </div>
</div>

<div class="container">
  <mat-tab-group [(selectedIndex)]="selectedIndex" animationDuration="0ms">
    <mat-tab label="Datos Empresa">
      <div class="form-container">
        <form (ngSubmit)="actualizarEmpresa()" class="form-container">
          <!-- Fila 1 -->
          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Nombre de la Empresa</mat-label>
              <input matInput
                     [(ngModel)]="servicio.nombre"
                     name="nombreEmpresa"
                     placeholder="Ingrese el nombre"
                     required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>CUIT</mat-label>
              <input matInput
                     type="number"
                     [(ngModel)]="servicio.cuit"
                     name="cuitEmpresa"
                     placeholder="Ingrese el CUIT"
                     required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Categoría de Empresa</mat-label>
              <mat-select [(ngModel)]="servicio.categoria"
                         name="categoriaEmpresa"
                         required>
                <mat-option [value]="">Seleccione una categoría</mat-option>
                <mat-option *ngFor="let categoria of categorias"
                           [value]="categoria.id">
                  {{ categoria.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Fila 2 -->
          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Dirección</mat-label>
              <input matInput
                     [(ngModel)]="servicio.direccion"
                     name="direccionEmpresa"
                     placeholder="Ingrese la dirección"
                     required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input matInput
                     type="tel"
                     [(ngModel)]="servicio.telefono"
                     name="telefonoEmpresa"
                     placeholder="Ingrese el teléfono"
                     required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Ciudad</mat-label>
              <input matInput
                     [(ngModel)]="ciudadNombre"
                     [ngModelOptions]="{standalone: true}"
                     name="ciudadNombre"
                     placeholder="Ingrese la ciudad"
                     (input)="buscarCiudad($event)"
                     [matAutocomplete]="auto"
                     required>
              <mat-autocomplete #auto="matAutocomplete"
                              [displayWith]="displayCiudad.bind(this)"
                              (optionSelected)="seleccionarCiudad($event)">
                <mat-option *ngFor="let ciudad of ciudades"
                           [value]="ciudad">
                  {{ciudad.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

           <!-- Fila 3: Horas Fijas -->
          <div class="form-row-full-width">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Horas Fijas</mat-label>
              <input matInput
                     type="text"
                     [(ngModel)]="servicio.horasFijas"
                     name="horasFijas"
                     placeholder="Ingrese las horas fijas"
                     maxlength="10"
                     #horasFijas="ngModel">
            </mat-form-field>
          </div>

          <!-- Fila 4: Descripción -->
          <div class="form-row-full-width">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Descripción</mat-label>
              <textarea matInput
                        [(ngModel)]="servicio.descripcion"
                        name="descripcionEmpresa"
                        rows="3"
                        placeholder="Ingrese una descripción"></textarea>
            </mat-form-field>
          </div>

          <!-- Botones -->
          <div class="button-row">
            <button mat-raised-button
                    color="primary"
                    type="submit">
              <mat-icon>save</mat-icon>
              Guardar Empresa
            </button>
            <button mat-button
                    type="button"
                    (click)="cancelar()">
              <mat-icon>cancel</mat-icon>
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </mat-tab>

    <mat-tab label="Ordenes de Trabajo">
      <div class="form-column-accordion">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let grupo of ordenesAgrupadasPaginadas">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ getNombreMes(grupo.mes) }} {{ grupo.anio }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div class="card-container">
              <mat-card
                *ngFor="let orden of grupo.ordenes"
                class="orden-card"
                [routerLink]="['/ordentrabajo/view', orden.Id]"
                style="cursor: pointer; margin: 0.5em; padding: 0.5em;"
              >
                <mat-card-title style="font-size: 1em; margin-left: 1em; margin-bottom: 1em;">
                  N°{{ orden.Id }} - {{ orden.empleadoAsignado.apellido }}, {{ orden.empleadoAsignado.nombre }}
                </mat-card-title>
                <mat-card-content>
                  <p><strong>Horas proyectadas:</strong> {{ orden.horasProyectadas }}</p>
                  <p><strong>Horas reales:</strong> {{ orden.horasReales }}</p>
                  <p><strong>Estado:</strong> 
                    <span *ngIf="orden.completado" class="status completed">Completado</span>
                    <span *ngIf="!orden.completado" class="status pending">En Curso</span>
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        
        <mat-paginator
          [length]="ordenesAgrupadas.length"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [pageSizeOptions]="[5, 10, 20]"
          (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </mat-tab>

    <mat-tab label="Facturas">
      <div class="table-container">
        <table mat-table [dataSource]="facturasFiltradas" class="mat-elevation-z8">
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let factura"> {{factura.fecha | date:'dd/MM/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef> Monto </th>
            <td mat-cell *matCellDef="let factura"> {{factura.monto | currency}} </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let factura">
              <span class="status" [ngClass]="{
                'completed': factura.estado === 'Pagada',
                'pending': factura.estado === 'Pendiente',
                'delete': factura.estado === 'Anulada'
              }">
                {{factura.estado}}
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['fecha', 'monto', 'estado']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['fecha', 'monto', 'estado'];"></tr>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
