<app-navbar></app-navbar>

<div class="title-container">
  <div class="title-item">
    <h1>Perfil Empresa</h1>
  </div>
</div>

<div class="container">
  <div class="sidebar">
    <ul class="sidebar-menu">
      <li (click)="mostrarSeccion('datosEmpresa')" [class.active]="seccionActual === 'datosEmpresa'">Datos Empresa</li>
      <li (click)="mostrarSeccion('ordenesTrabajo')" [class.active]="seccionActual === 'ordenesTrabajo'">Ordenes de Trabajo</li>
      <li (click)="mostrarSeccion('facturas')" [class.active]="seccionActual === 'facturas'">Facturas</li>
    </ul>
  </div>
  <div class="form-container">
    <div *ngIf="seccionActual === 'datosEmpresa'">
      <form (ngSubmit)="actualizarEmpresa()" class="form-container">
        <div class="form-row">
          <div class="form-group">
            <label for="nombreEmpresa">Nombre de la Empresa:</label>
            <input type="text" id="nombreEmpresa" [(ngModel)]="servicio.nombre" name="nombreEmpresa" class="form-control" placeholder="Ingrese el nombre" required />
          </div>

          <div class="form-group">
            <label for="cuitEmpresa">CUIT:</label>
            <input type="number" id="cuitEmpresa" [(ngModel)]="servicio.cuit" name="cuitEmpresa" class="form-control" placeholder="Ingrese el CUIT" required />
          </div>

          <div class="form-group">
            <label for="categoriaEmpresa">Categoría de Empresa:</label>
            <select id="categoriaEmpresa" [(ngModel)]="servicio.categoria" name="categoriaEmpresa" class="form-control" required>
              <option value="" disabled selected>Seleccione una categoría</option>
              <option *ngFor="let categoria of categorias" [value]="categoria.id">
                {{ categoria.nombre }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="direccionEmpresa">Dirección:</label>
            <input type="text" id="direccionEmpresa" [(ngModel)]="servicio.direccion" name="direccionEmpresa" class="form-control" placeholder="Ingrese la dirección" required />
          </div>

          <div class="form-group">
            <label for="telefonoEmpresa">Teléfono:</label>
            <input type="tel" id="telefonoEmpresa" [(ngModel)]="servicio.telefono" name="telefonoEmpresa" class="form-control" placeholder="Ingrese el teléfono" required />
          </div>

          <div class="form-group autocomplete-group">
            <label for="ciudadEmpresa">Ciudad:</label>
            <input
              type="text"
              id="ciudadEmpresa"
              [(ngModel)]="ciudadNombre"
              name="ciudadNombre"
              class="form-control"
              placeholder="Ingrese la ciudad"
              (input)="buscarCiudad($event)"
              (change)="seleccionarCiudad($event)"
              list="ciudadesList"
              required
            />
            <datalist id="ciudadesList">
              <option *ngFor="let ciudad of ciudades" [value]="ciudad.nombre"></option>
            </datalist>
          </div>
        </div>

        <div class="form-row-full-width">
          <div class="form-group-full-width">
            <label for="descripcionEmpresa">Descripción:</label>
            <textarea id="descripcionEmpresa" [(ngModel)]="servicio.descripcion" name="descripcionEmpresa" class="form-control" rows="3" placeholder="Ingrese una descripción"></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-save">Guardar Empresa</button>
          <button type="button" class="btn btn-cancel" (click)="cancelar()">Cancelar</button>
        </div>
      </form>
    </div>

    <div *ngIf="seccionActual === 'ordenesTrabajo'">
      <div class="form-row">
      
        <div class="form-group">
          <label for="empresaInput">Buscar por Empleado:</label>
          <input id="empresaInput" type="text" class="form-control" [(ngModel)]="filtroEmpleado" (ngModelChange)="filtrarOrdenes()" placeholder="Nombre del Empleado"/>
        </div>
    
        <div class="form-group">
          <label for="mesSelect">Mes:</label>
          <select id="mesSelect" class="form-control" [(ngModel)]="mesSeleccionado" (ngModelChange)="filtrarOrdenes()" >
            <option value="" disabled selected>Seleccionar Mes</option>
            <option *ngFor="let mes of meses" [value]="mes">{{ mes }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="anioSelect">Año:</label>
          <select id="anioSelect" class="form-control" [(ngModel)]="anioSeleccionado" (ngModelChange)="filtrarOrdenes()" >
            <option value="" disabled selected>Seleccionar Año</option>
            <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="estadoSelect">Estado:</label>
          <select id="estadoSelect" class="form-control" [(ngModel)]="estadoSeleccionado" (ngModelChange)="filtrarOrdenes()" >
            <option value="" disabled selected>Seleccionar Estado</option>
            <option [ngValue]="true">Completado</option>
            <option [ngValue]="false">En Curso</option>
          </select>
        </div>
      </div>
    
      <div class="orden-trabajo-container">
        <h3>Listado de Órdenes de Trabajo</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Orden N°</th>
                <th>Empleado</th>
                <th>Horas Proyectadas</th>
                <th>Horas Reales</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let orden of ordenesFiltradas">
                <td>{{ orden.Id }}</td>
                <td>{{ orden.empleadoAsignado.nombre }} {{ orden.empleadoAsignado.apellido }}</td>
                <td>{{ truncateToTwoDecimals(orden.horasProyectadas) }}</td>
                <td>{{ truncateToTwoDecimals(orden.horasReales) }}</td>
                <td>
                  <span *ngIf="orden.completado" class="status completed">Completada</span>
                  <span *ngIf="!orden.completado" class="status pending">En Curso</span>
                  <span *ngIf="orden.eliminado" class="status delete">Eliminado</span>
                </td>
                <td>
                  <button [routerLink]="['/ordentrabajo/view', orden.Id]" class="btn btn-info"><mat-icon>visibility</mat-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>

    <div *ngIf="seccionActual === 'facturas'">
      <div class="form-row">
    
        <div class="form-group">
          <label for="mesSelect">Mes:</label>
          <select id="mesSelect" class="form-control" [(ngModel)]="mesSeleccionado" (ngModelChange)="filtrarOrdenes()" >
            <option value="" disabled selected>Seleccionar Mes</option>
            <option *ngFor="let mes of meses" [value]="mes">{{ mes }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="anioSelect">Año:</label>
          <select id="anioSelect" class="form-control" [(ngModel)]="anioSeleccionado" (ngModelChange)="filtrarOrdenes()" >
            <option value="" disabled selected>Seleccionar Año</option>
            <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="estadoSelect">Estado:</label>
          <select id="estadoSelect" class="form-control" [(ngModel)]="estadoSeleccionado" (ngModelChange)="filtrarOrdenes()" >
            <option value="" disabled selected>Seleccionar Estado</option>
            <option [ngValue]="true">Activo</option>
            <option [ngValue]="false">Eliminado</option>
          </select>
        </div>
      </div>
    
      <div class="orden-trabajo-container">
        <h3>Listado de Facturas</h3>
          <table class="table">
            <thead>
              <tr>
                <th>N°</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let factura of facturasFiltradas">
                <td>{{ factura.numero }}</td>
                <td>{{ factura.fecha }}</td>
                <td>{{ factura.total }}</td>
                <td>
                  <button [routerLink]="['/factura/view', factura.facturaId]" class="btn btn-info"><mat-icon>visibility</mat-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
