<div class="body">
  <div class="container">
    <div class="titulo">
      <h1>Cambiar Contraseña</h1>
    </div>

    <div class="form">
      <form class="form" #usuarioForm="ngForm" (ngSubmit)="onChangePassword()">

        <span class="input-span">
          <label for="usuario" class="label">Usuario</label>
          <input type="text" [(ngModel)]="username" name="usuario" id="usuario" required disabled/>
        </span>

        <span class="input-span">
          <label for="newPassword" class="label">Nueva Contraseña</label>
          <input type="password" [(ngModel)]="newPassword" name="newPassword" id="newPassword" required />
        </span>

        <span class="input-span">
          <label for="confirmNewPassword" class="label">Repetir Nueva Contraseña</label>
          <input type="password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" id="confirmNewPassword" required />
        </span>

        <button class="submit" type="submit" [disabled]="usuarioForm.invalid">Cambiar Contraseña</button>
        
      </form>
    </div>
  </div>
</div>
