/* Aseguramos que el box-sizing sea border-box para evitar problemas con el padding */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-image: url(../img/FondoCorsacor.jpg);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 600px; /* Asegura que el contenedor no crezca más de 600px */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  text-align: center;
  width: 100%;
}

h1 {
  background-color: #CC5600;
  color: #ffffff;
  padding: 1rem;
  font-size: 2rem;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem 0.5rem 0 0;
}

/* Estilo para el formulario */
.form {
  background-color: #ffffff;
  width: 100%;
  padding: 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input[type="text"],
.form input[type="password"] {
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  border: 1px solid #CC5600;
  background-color: #f9f9f9;
  outline: none;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  border-color: #CC5600;
}

.label {
  color: #000;
  font-weight: 600;
  font-size: 1rem;
}

.submit {
  padding: 1rem 0.75rem;
  width: 100%;
  max-width: 400px; /* Limita el tamaño del botón */
  border-radius: 0.5rem;
  background-color: #CC5600;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 300ms;
  font-weight: 600;
  font-size: 1rem;
  align-self: center;
}

.submit:hover {
  background-color: #a14a00;
}
