<div class="body">
  <div class="container">
    <div class="titulo">
      <h1>Cambiar Contraseña</h1>
    </div>

    <div class="form">
      <form class="form" (ngSubmit)="onChangePassword()">
        
        <!-- Campo de Usuario -->
        <span class="input-span">
          <label for="usuario" class="label">Usuario</label>
          <input type="text" [(ngModel)]="username" name="usuario" id="usuario" required disabled/>
        </span>
        
        <!-- Campo de Contraseña Actual -->
        <span class="input-span">
          <label for="currentPassword" class="label">Contraseña Actual</label>
          <input type="password" [(ngModel)]="currentPassword" name="currentPassword" id="currentPassword" required />
        </span>
        
        <!-- Campo de Nueva Contraseña -->
        <span class="input-span">
          <label for="newPassword" class="label">Nueva Contraseña</label>
          <input type="password" [(ngModel)]="newPassword" name="newPassword" id="newPassword" required />
        </span>
        
        <!-- Campo para Repetir Nueva Contraseña -->
        <span class="input-span">
          <label for="confirmNewPassword" class="label">Repetir Nueva Contraseña</label>
          <input type="password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" id="confirmNewPassword" required />
        </span>
        
        <!-- Botón para Enviar Formulario -->
        <button class="submit" type="submit">Cambiar Contraseña</button>
        
      </form>
    </div>
  </div>
</div>
