<h2 mat-dialog-title>Buscar Empleado</h2>
<mat-dialog-content>
    <mat-label>Buscar Empleado</mat-label>
    <input type="text" [(ngModel)]="searchQuery" (input)="buscarEmpleados()" />

  <ul class="list-group">
    <li *ngFor="let empleado of empleados" class="list-group-item" (click)="seleccionarEmpleado(empleado)">
      {{ empleado.apellido }} {{ empleado.nombre }}
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
</mat-dialog-actions>
