<app-nabvar></app-nabvar>
<div class="content-container">
  <!-- Título -->
  <h2>Editar Empleado</h2>
  <div class="line"></div>

  <div class="content-form">
    <!-- Formulario para editar un empleado -->
    <form #empleadoForm="ngForm" (ngSubmit)="actualizarEmpleado()" class="form-container">

      <!-- Fila 1 -->
      <div class="form-row">
        <div class="form-group">
          <label for="fechaContratacion">Fecha de Contratación:</label>
          <input type="date" id="fechaContratacion" [(ngModel)]="empleado.fechaIngreso" name="fechaContratacion" class="form-control" required />
        </div>

        <div class="form-group">
          <label for="categoriaEmpleado">Categoría de Empleado:</label>
          <div *ngIf="categoriaEmpleado.invalid && categoriaEmpleado.touched" class="error"><i class="fas fa-times-circle" style="color: red; margin-right: 5px;"></i>La categoría de empleado es requerida.</div>
          <select id="categoria" [(ngModel)]="empleado.categoria" name="categoria" class="form-control" required #categoriaEmpleado="ngModel">
            <option value="" disabled>Seleccione una categoría</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.categoriaCategoriaEmpleadoId">
              {{ categoria.categoriaEmpleadoNombre }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <div *ngIf="legajoEmpleado.invalid && legajoEmpleado.touched" class="error"><i class="fas fa-times-circle" style="color: red; margin-right: 5px;"></i>El legajo es requerido.</div>
          <input type="number" id="legajo" [(ngModel)]="empleado.legajo" name="legajo" class="form-control" placeholder="Ingrese el legajo" required #legajoEmpleado="ngModel" min="0"/>
        </div>
      </div>

      <!-- Fila 2 -->
      <div class="form-row">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <div *ngIf="nombreEmpleado.invalid && nombreEmpleado.touched" class="error"><i class="fas fa-times-circle" style="color: red; margin-right: 5px;"></i>El nombre es requerido.</div>
          <input type="text" id="nombre" [(ngModel)]="empleado.nombre" name="nombre" class="form-control" placeholder="Ingrese el nombre" required  #nombreEmpleado="ngModel" (input)="validarSoloLetras($event)"  />
        </div>

        <div class="form-group">
          <label for="apellido">Apellido:</label>
          <div *ngIf="apellidoEmpleado.invalid && apellidoEmpleado.touched" class="error"><i class="fas fa-times-circle" style="color: red; margin-right: 5px;"></i>El apellido es requerido.</div>
          <input type="text" id="apellido" [(ngModel)]="empleado.apellido" name="apellido" class="form-control" placeholder="Ingrese el apellido" required #apellidoEmpleado="ngModel" (input)="validarSoloLetras($event)" />
        </div>

        <div class="form-group">
          <label for="tipoDocumento">Tipo de Documento:</label>
          <select id="tipoDocumento" name="tipoDocumento" class="form-control" required>
            <option value="" disabled>Seleccione el tipo de documento</option>
            <option value="DNI">DNI</option>
            <option value="Pasaporte">Pasaporte</option>
            <option value="Libreta Cívica">Libreta Cívica</option>
          </select>
        </div>
      </div>

      <!-- Fila 3 -->
      <div class="form-row">
        <div class="form-group">
          <label for="nroDocumento">Número de Documento:</label>
          <div *ngIf="nroDocumentoEmpleado.invalid && nroDocumentoEmpleado.touched" class="error">
            <i class="fas fa-times-circle" style="color: red; margin-right: 5px;"></i>
            <div *ngIf="nroDocumentoEmpleado.errors?.['required']">El número de documento es requerido.</div>
            <div *ngIf="nroDocumentoEmpleado.errors?.['pattern']">Debe ingresar exactamente 8 dígitos numéricos.</div>
          </div>
          <input type="text" id="nroDocumento" [(ngModel)]="empleado.nroDocumento" name="nroDocumento" class="form-control" placeholder="Ingrese el número de documento" required #nroDocumentoEmpleado="ngModel" pattern="^[0-9]{8}$" maxlength="8"/>
        </div>

        <div class="form-group">
          <label for="telefono">Teléfono:</label>
          <div *ngIf="telefonoEmpleado.touched && telefonoEmpleado.invalid" class="error">
            <i class="fas fa-times-circle" style="color: red; margin-right: 5px;"></i>
            <div *ngIf="telefonoEmpleado.errors?.['required']">El teléfono es requerido.</div>
            <div *ngIf="telefonoEmpleado.errors?.['pattern']">El número de teléfono debe contar con 10 dígitos.</div>
          </div>
        <input type="tel" id="telefono" [(ngModel)]="empleado.telefono" name="telefono" class="form-control" placeholder="Ingrese el teléfono" required #telefonoEmpleado="ngModel" maxlength="10" pattern="^[0-9]{10}$" title="Debe ingresar 10 dígitos numéricos" (input)="validarTelefono($event)" />
        </div>

        <div class="form-group autocomplete-group">
          <div *ngIf="ciudadNombreEmpleado.invalid && ciudadNombreEmpleado.touched" class="error"><i class="fas fa-times-circle" style="color: red; margin-right: 5px;"></i>La ciudad es requerida.</div>
          <input type="text" id="ciudad" [(ngModel)]="ciudadNombre" name="ciudadNombre" class="form-control" placeholder="Ingrese la ciudad" (input)="buscarCiudad($event)" (change)="seleccionarCiudad($event)" list="ciudadesList"
            required #ciudadNombreEmpleado="ngModel"/>
          <datalist id="ciudadesList">
            <option *ngFor="let ciudad of ciudades" [value]="ciudad.nombre"></option>
          </datalist>
        </div>
      </div>

      <!-- Fila 4: Email -->
      <div class="form-row">
        <div class="form-group full-width">
          <label for="email">Email:</label>
          <div *ngIf="emailEmpleado.invalid && emailEmpleado.touched" class="error"><i class="fas fa-times-circle" style="color: red; margin-right: 5px;"></i>El email es requerido.</div>
          <input type="text" id="email" [(ngModel)]="empleado.email" name="email" class="form-control" placeholder="Ingrese el email" required #emailEmpleado="ngModel"/>
        </div>
      </div>

      <!-- Fila 5: Observaciones -->
      <div class="form-row">
        <div class="form-group full-width">
          <label for="observaciones">Observaciones:</label>
          <textarea id="observaciones" [(ngModel)]="empleado.observaciones" name="observaciones" class="form-control" rows="3" placeholder="Ingrese observaciones" maxlength="250"
          (input)="actualizarContador($event)"></textarea>
          <div>{{ 250 - contadorCaracteres }} caracteres restantes</div>
        </div>
      </div>

      <!-- Botones -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-save" [disabled]="empleadoForm.invalid" (click)="actualizarEmpleado()">Actualizar Empleado</button>
        <button type="button" class="btn btn-cancel" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
