<app-navbar></app-navbar>

<div class="title-container">
  <div class="title-item">
    <h1>Perfil Empleado</h1>
  </div>
</div>

<div class="container">
    <div class="sidebar">
      <ul class="sidebar-menu">
        <li (click)="mostrarSeccion('datosPersonales')" [class.active]="seccionActual === 'datosPersonales'">Datos Personales</li>
        <li (click)="mostrarSeccion('datosLaborales')" [class.active]="seccionActual === 'datosLaborales'">Datos Laborales</li>
        <li (click)="mostrarSeccion('ordenesTrabajo')" [class.active]="seccionActual === 'ordenesTrabajo'">Ordenes de Trabajo</li>
        <li (click)="mostrarSeccion('cierreMensual'); filtrarMensual()" [class.active]="seccionActual === 'cierreMensual'">Informacion Mensual</li>
      </ul>
    </div>

    <div class="form-container">
      <form #empleadoForm="ngForm" (ngSubmit)="actualizarEmpleado()">
        <!-- Datos Personales -->
        <div *ngIf="seccionActual === 'datosPersonales'">
          <div class="form-row">
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre" [(ngModel)]="empleado.nombre" name="nombre" class="form-control" placeholder="Ingrese el nombre" required #nombreEmpleado="ngModel" (input)="validarSoloLetras($event)"/>
              <div *ngIf="nombreEmpleado.invalid && nombreEmpleado.touched" class="error"><i class="fas fa-times-circle"></i> El nombre es requerido.</div>
            </div>

            <div class="form-group">
              <label for="apellido">Apellido:</label>
              <input type="text" id="apellido" [(ngModel)]="empleado.apellido" name="apellido" class="form-control" placeholder="Ingrese el apellido" required #apellidoEmpleado="ngModel" (input)="validarSoloLetras($event)" />
              <div *ngIf="apellidoEmpleado.invalid && apellidoEmpleado.touched" class="error"><i class="fas fa-times-circle"></i> El apellido es requerido.</div>
            </div>

            <div class="form-group">
              <label for="nroDocumento">Número de Documento:</label>
              <input type="text" id="nroDocumento" [(ngModel)]="empleado.nroDocumento" name="nroDocumento" class="form-control" placeholder="Ingrese el número de documento" required #nroDocumentoEmpleado="ngModel" pattern="^[0-9]{8}$" maxlength="8"/>
              <div *ngIf="nroDocumentoEmpleado.invalid && nroDocumentoEmpleado.touched" class="error"><i class="fas fa-times-circle"></i> El número de documento es requerido.</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="telefono">Teléfono:</label>
              <input type="tel" id="telefono" [(ngModel)]="empleado.telefono" name="telefono" class="form-control" placeholder="Ingrese el teléfono" required #telefonoEmpleado="ngModel" maxlength="10" pattern="^[0-9]{10}$" (input)="validarTelefono($event)" />
              <div *ngIf="telefonoEmpleado.touched && telefonoEmpleado.invalid" class="error"><i class="fas fa-times-circle"></i> El teléfono es requerido.</div>
            </div>

            <div class="form-group">
              <div class="form-group full-width">
                <label for="email">Email:</label>
                <input type="text" id="email" [(ngModel)]="empleado.email" name="email" class="form-control" placeholder="Ingrese el email" required #emailEmpleado="ngModel"/>
                <div *ngIf="emailEmpleado.invalid && emailEmpleado.touched" class="error"><i class="fas fa-times-circle"></i> El email es requerido.</div>
              </div>
            </div>

            <div class="form-group">
              <label for="ciudad">Ciudad:</label>
              <input type="text" id="ciudad" [(ngModel)]="ciudadNombre" name="ciudadNombre" class="form-control" placeholder="Ingrese la ciudad" (input)="buscarCiudad($event)" (change)="seleccionarCiudad($event)" list="ciudadesList" required #ciudadNombreEmpleado="ngModel"/>
              <div *ngIf="ciudadNombreEmpleado.invalid && ciudadNombreEmpleado.touched" class="error"><i class="fas fa-times-circle"></i> La ciudad es requerida.</div>
              <datalist id="ciudadesList">
                <option *ngFor="let ciudad of ciudades" [value]="ciudad.nombre"></option>
              </datalist>
            </div>
          </div>
          <div class="form-row-full-width">
            <div class="form-group-full-width">
              <label for="observaciones">Observaciones:</label>
              <textarea id="observaciones" [(ngModel)]="empleado.observaciones" name="observaciones" class="form-control" rows="3" maxlength="250"></textarea>
            </div>
          </div>
        </div>

        <!-- Datos Laborales -->
        <div *ngIf="seccionActual === 'datosLaborales'">
          <div class="form-row">
            <div class="form-group">
              <label for="legajo">Legajo:</label>
              <input type="number" id="legajo" [(ngModel)]="empleado.legajo" name="legajo" class="form-control" placeholder="Ingrese el legajo" required #legajoEmpleado="ngModel" min="0" disabled/>
              <div *ngIf="legajoEmpleado.invalid && legajoEmpleado.touched" class="error"><i class="fas fa-times-circle"></i> El legajo es requerido.</div>
            </div>

            <div class="form-group">
              <label for="fechaContratacion">Fecha de Contratación:</label>
              <input type="date" id="fechaContratacion" [(ngModel)]="empleado.fechaIngreso" name="fechaContratacion" class="form-control" required />
            </div>

            <div class="form-group">
              <label for="categoriaEmpleado">Categoría de Empleado:</label>
              <select id="categoriaEmpleado" [(ngModel)]="empleado.categoria" name="categoriaEmpleado" class="form-control" required #categoriaEmpleado="ngModel">
                <option value="" disabled selected>Seleccione una categoría</option>
                <option *ngFor="let categoria of categorias" [value]="categoria.id">
                  {{ categoria.nombre }}
                </option>
                <div *ngIf="categoriaEmpleado.invalid && categoriaEmpleado.touched" class="error"><i class="fas fa-times-circle"></i> La categoría de empleado es requerida.</div>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="disponibilidad-container">
              <h5>Disponibilidad Horaria</h5>
              <div class="full-time-container">
                <label>
                  <input type="checkbox" [(ngModel)]="fullTime" name="fullTime" (change)="toggleFullTime()" />
                  Full Time
                </label>
              </div>
            
              <div class="disponibilidad-grid">
                <div class="grid-header">
                  <div>Día</div>
                  <div>Hora Inicio</div>
                  <div>Hora Fin</div>
                </div>
            
                <div *ngFor="let dia of disponibilidad" class="grid-row">
                  <div>{{ dia.nombre }}</div>
                  <div>
                    <input type="time" [(ngModel)]="dia.horaInicio" name="horaInicio_{{ dia.diaSemana }}" [disabled]="fullTime" [ngModelOptions]="{standalone: true}"/>
                  </div>
                  <div>
                    <input type="time" [(ngModel)]="dia.horaFin" name="horaFin_{{ dia.diaSemana }}" [disabled]="fullTime" [ngModelOptions]="{standalone: true}"/>
                  </div>
                </div>
              </div>
    
            </div>           
          </div>          
        </div>
        <div class="modal-footer" *ngIf="seccionActual === 'datosPersonales' || seccionActual === 'datosLaborales'">
          <button type="submit" class="btn btn-save" [disabled]="empleadoForm.invalid">Actualizar Empleado</button>
          <button type="button" class="btn btn-cancel" (click)="cancelar()">Cancelar</button>
        </div>
      </form>

      <!-- Ordenes de Trabajo -->
      <div *ngIf="seccionActual === 'ordenesTrabajo'">

        <div class="form-column-accordion">
          <mat-accordion>
            <mat-expansion-panel *ngFor="let grupo of ordenesAgrupadasPaginadas">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ getNombreMes(grupo.mes) }} {{ grupo.anio }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              
              <div class="card-container">
                <mat-card
                  *ngFor="let orden of grupo.ordenes"
                  class="orden-card"
                  [routerLink]="['/ordentrabajo/view', orden.Id]"
                  style="cursor: pointer;
                  margin: 0.5em;
                  padding: 0.5em;
                  "
                >
                  <mat-card-title style="font-size: 1em; margin-left: 1em; margin-bottom: 1em;">N°{{ orden.Id }}/{{ orden.servicio.nombre }}</mat-card-title>
                  <mat-card-content>
                    <p><strong>Horas proyectadas:</strong> {{ orden.horasProyectadas }}</p>
                    <p><strong>Horas reales:</strong> {{ orden.horasReales }}</p>
                    <p><strong>Estado:</strong> 
                      <span *ngIf="orden.completado" class="status completed">Completado</span>
                      <span *ngIf="!orden.completado" class="status pending">En Curso</span>
                    </p>
                  </mat-card-content>
                </mat-card>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          
          <mat-paginator
            [length]="ordenesAgrupadas.length"
            [pageSize]="pageSize"
            [pageIndex]="pageIndex"
            [pageSizeOptions]="[5, 10, 20]"
            (page)="onPageChange($event)">
          </mat-paginator>
        </div>
      </div>

      <div *ngIf="seccionActual === 'cierreMensual'">
        <div class="form-row">
          <mat-accordion>
            <mat-expansion-panel *ngFor="let grupo of horariosAgrupados">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Año {{ grupo.anio }}
                </mat-panel-title>
              </mat-expansion-panel-header>
          
              <div class="meses-container">
                <mat-card *ngFor="let mes of grupo.meses" class="mes-card">
                  <mat-card-title>{{ getNombreMes(mes.mes) }}</mat-card-title>
                  <mat-card-content>
                    <p><strong>Total horas reales:</strong> {{ getHorasTotales(mes.horarios) }}</p>
                    <!-- Puedes agregar más info aquí si querés -->
                  </mat-card-content>
                </mat-card>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          
        
          <div class="form-group">
            <label for="empresaInput">Buscar por Empresa:</label>
            <input id="empresaInput" type="text" class="form-control" [(ngModel)]="filtroEmpresa" (change)="filtrarOrdenes()" placeholder="Nombre de la Empresa"/>
          </div>
      
          <div class="form-group">
            <label for="mesSelect">Mes:</label>
            <select id="mesSelect" class="form-control" [(ngModel)]="mesSeleccionado" (change)="filtrarOrdenes()" >
              <option value="" disabled selected>Seleccionar Mes</option>
              <option *ngFor="let mes of meses" [value]="mes">{{ mes }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="anioSelect">Año:</label>
            <select id="anioSelect" class="form-control" [(ngModel)]="anioSeleccionado" (change)="filtrarOrdenes()" >
              <option value="" disabled selected>Seleccionar Año</option>
              <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
            </select>
          </div>
        </div>
      
        <div class="orden-mensual-container">
          <table class="table" id="cierreMensualTable">
            <thead>
              <tr>
                <th>Orden N°</th>
                <th>Empresa</th>
                <th>Mes</th>
                <th>Horas Proyectadas</th>
                <th>Horas Reales</th>
                <th>A</th>
                <th>LT</th>
                <th>FC</th>
                <th>FS</th>
                <th>E</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let orden of ordenesFiltradas">
                <td>{{ orden.Id }}</td>
                <td>{{ orden.servicio.nombre }}</td>
                <td>{{ orden.mes }}</td>
                <td>{{ orden.horasProyectadas }}</td>
                <td>{{ orden.horasReales }}</td>
                <td>{{ orden.estadoContador.asistio }}</td>
                <td>{{ orden.estadoContador.llegoTarde }}</td>
                <td>{{ orden.estadoContador.faltoConAviso }}</td>
                <td>{{ orden.estadoContador.faltoSinAviso }}</td>
                <td>{{ orden.estadoContador.enfermedad }}</td>
              </tr>
            </tbody>
          </table>
          <div class="totales-container">
            <h5>Totales</h5>
            <table class="table" id="cierreMensualTable">
              <thead>
                <tr>
                  <th>Horas Proyectadas</th>
                  <th>Horas Reales</th>
                  <th>A</th>
                  <th>LT</th>
                  <th>FC</th>
                  <th>FS</th>
                  <th>E</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ totalHorasProyectadas }}</td>
                  <td>{{ totalHorasReales }}</td>
                  <td>{{ totalAsistencias }}</td>
                  <td>{{ totalLT }} </td>
                  <td>{{ totalFC }} </td>
                  <td>{{ totalFS }}</td>
                  <td>{{ totalE }}</td>
                </tr>
              </tbody>
            </table>
          </div>
           <p>* A = Asitio / LT = Llegada Tarde / FC = Falta con Aviso / FS = Falta sin Aviso / E = Enfermedad</p>
        </div>

        <div class="form-row-footer">
          <div class="form-group-footer">
            <button mat-raised-button class="button-footer-pdf" color="primary" (click)="descargarPdf()">
              <mat-icon>picture_as_pdf</mat-icon> Descargar Resumen Mensual PDF
            </button>
          </div>
          <div class="form-group-footer">
            <button mat-raised-button class="button-footer-excel" color="accent" (click)="descargarExcel()">
              <mat-icon>file_download</mat-icon> Descargar Resumen Mensual Excel
            </button>
          </div>
        </div>
      </div>         
    </div>
</div>
