body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  max-width: 100%;
}

/* Estilo para el h1 */
h1 {
  background-color: #CC5600;
  color: #ffffff; 
  padding: 1.5rem;
  margin: 0; 
  box-sizing: border-box; 
  width: 100%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem 0.5rem 0 0;
}

/* Estilos del formulario */
.form {
  --bg-light: #ffffff; /* Fondo blanco */
  --clr: #CC5600; /* Color principal para detalles y bordes */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--bg-light); 
  height: 50vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  padding: 1rem; 
  border-radius: 0 0 0.5rem 0.5rem;
}

.input-span {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input[type="text"],
.form input[type="password"] {
  border-radius: 0.5rem; 
  padding: 1rem 0.75rem;
  width: 100%;
  border: 1px solid var(--clr); 
  background-color: #f9f9f9; 
  outline: none; 
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  border-color: var(--clr); 
}

.label {
  align-self: center;
  color: black; 
  font-weight: 600;
}

.submit {
  padding: 1rem 0.75rem;
  width: 80%;
  border-radius: 0.5rem;
  background-color: var(--clr); 
  color: white; 
  border: none;
  cursor: pointer;
  transition: background-color 300ms;
  font-weight: 600;
  font-size: 1.2rem;
}

.submit:hover {
  background-color: #a14a00; 
}

.inicio-sesion, .imagen-logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imagen-logo {
  height: 100vh;

}

.img-fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
