<div class="body">
    <div class="container">
        <div class="inicio-sesion">
            <div class="form-container">
                <div class="titulo"><h1>Iniciar Sesión</h1></div>
                <form class="form" (ngSubmit)="inicioSesion()">
                    <span class="input-span">
                        <label for="usuario" class="label">Usuario</label>
                        <input type="text" [(ngModel)]="username" name="usuario" id="usuario"/>
                    </span>
                    <span class="input-span">
                        <label for="password" class="label">Contraseña</label>
                        <input type="password" [(ngModel)]="password" name="password" id="password"/>
                    </span>
                    <br>
                    <button class="submit" type="submit">Iniciar Sesión</button> 
                </form>
            </div>
        </div>
        <div class="imagen-logo">
            <img class='img-fondo' src="assets/FondoCorsacor.jpg">
        </div>
    </div>
</div>
