<app-navbar></app-navbar>
<div class="content-container">

  <h2>Visualizar Empresas</h2>
  <div class="line"></div>

  <div class="search-filter-container">
    <div class="search-bar">
      <input type="text" placeholder="Buscar servicio..." [(ngModel)]="searchTerm" (input)="filtrarServicios()"/>
      <button routerLink='/service/create' class="btn btn-primary">+</button>
    </div>

    <div class="filters">
      <div class="filter">
        <label for="visualizarPor">Visualizar por:</label>
        <select id="visualizarPor" [(ngModel)]="filtroVisualizar" (change)="filtrarServicios()">
          <option value="activo">Activo</option>
          <option value="inactivo">Eliminado</option>
        </select>
      </div>

      <div class="filter">
        <label for="ordenarPor">Ordenar por:</label>
        <select id="ordenarPor" [(ngModel)]="filtroOrdenar" (change)="filtrarServicios()">
          <option value="nombre">Nombre</option>
          <option value="categoria">Categoria</option>
        </select>
      </div>
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Ciudad</th>
          <th>Categoría</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empresa of empresasFiltradas">
          <td>{{ empresa.nombre }}</td>
          <td>{{ empresa.telefono }}</td>
          <td>{{ empresa.ciudad }}</td>
          <td>{{ getCategoriaNombre(empresa.categoria) }}</td>
          <td>
            <button class="btn-edit" [routerLink]="['/service/edit', empresa.servicioId]"><mat-icon>edit</mat-icon></button>
            <button class="btn-delete" (click)="eliminarServicio(empresa)"><mat-icon>delete</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
