.title-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  background-color:#333333;
  text-align: center;
  height: 6.2em;
}

.title-item h1 {
  color: white;
  font-size: 2em;
}

.content-container {
    display: flex; 
    flex-direction: row;
    margin-left: 240px;
    margin-right: 100px;
    margin-top: 1.5em;
}

.table-container {
    flex: 1; 
    margin-left: 3em; 
    max-height: 35em; 
    overflow-y: auto; 
    padding-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.form-container {
    background-color: #f8f9fa;
    width: 34em;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); 
}

.form-container label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

.form-container input[type="text"],
.form-container input[type="time"],
.form-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #CCC;
    border-radius: 4px;
    outline: none;
    margin-bottom: 10px; 
}
.form-group {
    margin-bottom: 0.5em;
  }

.btn-primary {
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #218838;
}

.btn-primary:focus {
    outline: none;
}

.form-row {
    display: flex;
    gap: 20px; 
    margin-bottom: 10px;
}

.form-group {
    flex: 1;
}

.form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 4px;
    outline: none;
    resize: vertical; 
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-save {
    background-color: #28a745;
    color: white;
    margin-right: 2em;
  }
  
  .btn-save:hover {
    background-color: #218838;
  }
  
  .btn-cancel {
    background-color: #ccc;
    color: #333;
  }
  
  .btn-cancel:hover {
    background-color: #aaa;
  }

  tr {
    cursor: pointer;  /* Indica que las filas son clicables */
  }

  tr:hover {
      background-color: #f8f9fa; /* Color de fondo al pasar el mouse sobre la fila */
  }

.selected-row {
    background-color: #424242; /* Gris oscuro para la fila seleccionada */
    color: white;  /* Texto blanco para contraste */
    cursor: pointer; /* Cambia el cursor a mano para indicar que es interactivo */
}