<div class="title-container">
  <h1>Registrar Nuevo Empleado</h1>
</div>

<form #empleadoForm="ngForm" (ngSubmit)="guardarEmpleado()">

  <!-- Contenedor con Grid -->
  <div class="form-grid">
    <!-- Columna Izquierda: Datos Personales -->
    <div class="container-columna-izq">
      <h2>Datos Personales</h2>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="empleado.nombre" name="nombre" required (input)="validarSoloLetras($event)">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput [(ngModel)]="empleado.apellido" name="apellido" required (input)="validarSoloLetras($event)">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Número de Documento</mat-label>
          <input matInput [(ngModel)]="empleado.nroDocumento" name="nroDocumento" required maxlength="8" pattern="^[0-9]{8}$">
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput [(ngModel)]="empleado.telefono" name="telefono" required maxlength="10" pattern="^[0-9]{10}$" (input)="validarTelefono($event)">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="empleado.email" name="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Ciudad</mat-label>
          <input matInput id="ciudad" [(ngModel)]="ciudadNombre" name="ciudadNombre" (input)="buscarCiudad($event)" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="seleccionarCiudad($event)">
            <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.nombre">
              {{ ciudad.nombre }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <h2>Datos Laborales</h2>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Legajo</mat-label>
          <input matInput type="number" [(ngModel)]="empleado.legajo" name="legajo" required min="0">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="empleado.fechaIngreso" name="fechaContratacion" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Categoría</mat-label>
          <mat-select [(ngModel)]="empleado.categoria" name="categoria" required>
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Horas Categoria</mat-label>
          <input matInput type="number" [(ngModel)]="empleado.horasCategoria" name="horasCategoria" required min="0">
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="full-width" appearance="outline">
        <mat-label>Observaciones</mat-label>
        <textarea matInput [(ngModel)]="empleado.observaciones" name="observaciones" rows="3" maxlength="250"></textarea>
        </mat-form-field>
      </div>
      
      <mat-checkbox [(ngModel)]="fullTime" name="fullTime" (change)="toggleFullTime()">Full Time</mat-checkbox>
    </div>

    <!-- Columna Derecha: Datos Laborales -->
    <div class="container-columna-der">
      <h2>Disponibilidad Horaria</h2>
      <div class="disponibilidad-lista"> 
        <div class="fila-dia" *ngFor="let dia of disponibilidad">
          
          <mat-form-field appearance="outline" class="hora-input">
            <mat-label>{{ dia.nombre }} Inicio</mat-label>
            <input matInput type="time" [(ngModel)]="dia.horaInicio" name="{{ dia.nombre }}HoraInicio" [disabled]="fullTime">
          </mat-form-field>
    
          <mat-form-field appearance="outline" class="hora-input">
            <mat-label>{{ dia.nombre }} Fin</mat-label>
            <input matInput type="time" [(ngModel)]="dia.horaFin" name="{{ dia.nombre }}HoraFin" [disabled]="fullTime">
          </mat-form-field>
        </div>
      </div>
    </div>
    
  </div>

  <!-- Botones debajo -->
  <div class="button-row">
    <button mat-raised-button color="primary" type="submit" [disabled]="empleadoForm.invalid">Guardar Empleado</button>
    <button mat-button color="warn" type="button" (click)="cancelar()">Cancelar</button>
  </div>
</form>
