/* General container styling */
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  background-color:#333333;
  text-align: center;
  height: 6.2em;
  margin-bottom: 1em;
}

.title-container h1 {
  color: rgb(255, 255, 255);
  font-size: 2em;
}

h2{
  font-size: 1em;
}

.form-grid {
  display: flex;
  width: 90%;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.container-columna-izq {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 55%;
}

.container-columna-der{
  margin-right: 1em;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 16px;
}

.form-row mat-form-field {
  flex: 1; /* hace que todos tengan el mismo ancho */
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.disponibilidad-lista {
  display: flex;
  flex-direction: column;
  gap: 16px; 
  margin-top: 16px;
}

.fila-dia {
  display: flex;
  border-width: 2px;
  border-color: #333333;
}

.hora-imput{
  margin-left: 1em;
}

.nombre-dia {
  font-weight: 500;
  margin-bottom: 8px;
}

.hora-field {
  width: 50%;
  margin-bottom: 8px;
}
