<app-navbar></app-navbar>

<div class="title-container">
  <div class="title-item">
    <h1>Usuario</h1>
  </div>
</div>

<div class="content-container">
  <div class="form-container">
    <h3>Detalles del Usuario</h3>
    <form #form="ngForm">
      <div class="form-row">
        <div class="form-group">
          <label for="username">Nombre del Usuario</label>
          <input type="text" id="username" name="name" [(ngModel)]="usuario.username" class="form-control" placeholder="Nombre de Usuario" autofocus required >
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="categoriaUsuario">Categoria Usuario</label>
          <select id="categoriaUsuario" [(ngModel)]="usuario.categoriaId" name="categoriaUsuario" class="form-control" required >
            <option value="" disabled selected>Seleccione una categoría</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.nombre }}
            </option>
          </select> 
        </div>
      </div>

      <!-- Botones -->
      <div class="modal-footer">
        <button *ngIf="!selectedUsuario" type="button" class="btn btn-save" (click)="guardarUsuario()">Guardar Usuario</button>
        <button *ngIf="selectedUsuario" type="button" class="btn btn-save" (click)="actualizarUsuario()">Actualizar Usuario</button>
        <button *ngIf="selectedUsuario" type="button" class="btn btn-password" (click)="recuperarPassword()">Blanquear Contraseña</button>
        <button *ngIf="selectedUsuario" type="button" class="btn btn-cancel" (click)="cancelarEdicion()">Cancelar</button>
      </div>
    </form>
  </div>

  <!-- Tabla de usuarios -->
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Categoria</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios" (click)="selectUsuario(usuario)">
          <td>{{ usuario.username }}</td>
          <td>{{ getCategoriaNombre(usuario.categoriaId)}}</td>
          <td>
            <button class="btn-delete" (click)="eliminarUsuario(usuario)"><mat-icon>delete</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
