<div class="modal-overlay" (click)="closeModal()"></div>
<div class="modal-content">
  <div class="modal-header">
    <h2>Agregar Nueva Ciudad </h2>
    <button class="close-btn" (click)="closeModal()">&times;</button>
  </div>
  <form (submit)="createCiudad()">

    <div class="form-group">
      <input type="text" name="name" [(ngModel)]="ciudad.nombreCiudad" class="form-control" placeholder="Ciudad" autofocus>
    </div> 

    <div class="modal-footer">
      <button type="submit" class="btn btn-save">Guardar Ciudad</button>
      <button type="button" class="btn btn-cancel" (click)="closeModal()">Cancelar</button>
    </div>
  </form>
</div>
