<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/"><i class="far fa-list-alt"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/nuevo"><i class="fas fa-plus-circle"></i>Empleados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/"><i class="far fa-list-alt"></i>Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/nuevo"><i class="fas fa-plus-circle"></i>Ordenes de Trabajo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/"><i class="far fa-list-alt"></i>Horarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/nuevo"><i class="fas fa-plus-circle"></i> Informes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/"><i class="far fa-list-alt"></i>Facturacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/nuevo"><i class="fas fa-plus-circle"></i>Usuario</a>
        </li>
        
      </ul>
    </div>
</nav>