<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [mode]="'side'"
    [opened]="!isCollapsed"
    (openedChange)="isCollapsed = ! $event"
    [fixedInViewport]="true"
  >
    <!-- Header / Logo -->
    <div class="sidenav-header">
      <img src="./assets/Corsacor-Logo.png" alt="Logo" class="logo" />
    </div>

    <!-- Menú -->
    <mat-nav-list>

      <!-- Inicio -->
      <a mat-list-item routerLink="/home" class="menu-link">
        <span class="left-content">
          <mat-icon class="menu-icon">home</mat-icon>
          <span class="menu-text" *ngIf="!isCollapsed">Inicio</span>
        </span>
      </a>

      <!-- Empleados -->
      <button
        mat-button
        class="menu-button"
        [matMenuTriggerFor]="employeesMenu"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="left-content">
          <mat-icon class="menu-icon">group</mat-icon>
          <span class="menu-text" *ngIf="!isCollapsed">Empleados</span>
        </span>
        <mat-icon class="menu-arrow">expand_more</mat-icon>
      </button>
      <mat-menu #employeesMenu="matMenu" yPosition="below" xPosition="after">
        <button mat-menu-item routerLink="/employee/create">Nuevo Empleado</button>
        <button mat-menu-item routerLink="/employee">Visualizar Empleados</button>
      </mat-menu>

      <!-- Empresas -->
      <button
        mat-button
        class="menu-button"
        [matMenuTriggerFor]="companiesMenu"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="left-content">
          <mat-icon class="menu-icon">business</mat-icon>
          <span class="menu-text" *ngIf="!isCollapsed">Empresas</span>
        </span>
        <mat-icon class="menu-arrow">expand_more</mat-icon>
      </button>
      <mat-menu #companiesMenu="matMenu" yPosition="below" xPosition="after">
        <button mat-menu-item routerLink="/service/create">Nueva Empresa</button>
        <button mat-menu-item routerLink="/service">Visualizar Empresas</button>
      </mat-menu>

      <!-- Orden de Trabajo -->
      <button
        mat-button
        class="menu-button"
        [matMenuTriggerFor]="ordersMenu"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="left-content">
          <mat-icon class="menu-icon">assignment</mat-icon>
          <span class="menu-text" *ngIf="!isCollapsed">Orden Trabajo</span>
        </span>
        <mat-icon class="menu-arrow">expand_more</mat-icon>
      </button>
      <mat-menu #ordersMenu="matMenu" yPosition="below" xPosition="after">
        <button mat-menu-item routerLink="/ordentrabajo/create">Crear Orden de Trabajo</button>
        <button mat-menu-item routerLink="/ordentrabajo">Visualizar Ordenes de Trabajo</button>
        <button mat-menu-item routerLink="/cargarHorarios">Cargar Horarios</button>
      </mat-menu>

      <!-- Facturación -->
      <button
        mat-button
        class="menu-button"
        [matMenuTriggerFor]="billingMenu"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="left-content">
          <mat-icon class="menu-icon">receipt</mat-icon>
          <span class="menu-text" *ngIf="!isCollapsed">Facturación</span>
        </span>
        <mat-icon class="menu-arrow">expand_more</mat-icon>
      </button>
      <mat-menu #billingMenu="matMenu" yPosition="below" xPosition="after">
        <button mat-menu-item routerLink="/factura/create">Nueva Factura</button>
        <button mat-menu-item routerLink="/facturas">Visualizar Facturas</button>
      </mat-menu>

      <!-- Configuración -->
      <button
        mat-button
        class="menu-button"
        [matMenuTriggerFor]="configMenu"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="left-content">
          <mat-icon class="menu-icon">settings</mat-icon>
          <span class="menu-text" *ngIf="!isCollapsed">Configuración</span>
        </span>
        <mat-icon class="menu-arrow">expand_more</mat-icon>
      </button>
      <mat-menu #configMenu="matMenu" yPosition="below" xPosition="after">
        <button mat-menu-item routerLink="/user/create">Usuarios</button>
        <button mat-menu-item routerLink="/categorias">Categorías</button>
      </mat-menu>

      <!-- Reportes -->
      <a mat-list-item routerLink="/informes" class="menu-link">
        <span class="left-content">
          <mat-icon class="menu-icon">bar_chart</mat-icon>
          <span class="menu-text" *ngIf="!isCollapsed">Reportes</span>
        </span>
      </a>

      <!-- Ayuda -->
      <a mat-list-item routerLink="/manual-usuario" class="menu-link">
        <span class="left-content">
          <mat-icon class="menu-icon">help</mat-icon>
          <span class="menu-text" *ngIf="!isCollapsed">Ayuda</span>
        </span>
      </a>

      <!-- Usuario -->
      <button
        mat-button
        class="menu-button"
        [matMenuTriggerFor]="userMenu"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="left-content">
          <mat-icon class="menu-icon">person</mat-icon>
          <span class="menu-text" *ngIf="!isCollapsed">{{ username }}</span>
        </span>
        <mat-icon class="menu-arrow">expand_more</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu" yPosition="below" xPosition="after">
        <button mat-menu-item (click)="onLogout()">Cerrar sesión</button>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
