<app-navbar></app-navbar>

<div class="title-container">
  <div class="title-item">
    <h1>Detalle Orden de Trabajo</h1>
  </div>
</div>

<div class="content-container">
  <div class="form-container">
    <div class="form-row">
      <div class="form-group">
        <label for="empresa">Empresa:</label>
        <input type="text" id="empresa" [(ngModel)]="empresa" readonly />
      </div>
      <div class="form-group">
        <label for="empleado">Empleado:</label>
        <input type="text" id="empleado" [(ngModel)]="empleadoNombre" readonly />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="empleado">Mes:</label>
        <input type="text" id="mes" [(ngModel)]="mes" readonly />
      </div>
      <div class="form-group">
        <label for="dias">Días:</label>
        <input type="text" id="dias" [(ngModel)]="dias" readonly />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="horasProyectadas">Horas Proyectadas:</label>
        <input type="text" id="horasProyectadas" [(ngModel)]="horasProyectadas" readonly />
      </div>
      <div class="form-group">
        <label for="horasReales">Horas Reales:</label>
        <input type="text" id="horasReales" [(ngModel)]="horasReales" readonly />
      </div>
    </div>

    <div class="form-row-footer">
      <div class="form-group-footer">
        <button mat-raised-button class="button-footer-pdf" color="primary" (click)="descargarPdf()">
          <mat-icon>picture_as_pdf</mat-icon> Descargar PDF
        </button>
      </div>
      <div class="form-group-footer">
        <button mat-raised-button class="button-footer-excel" color="accent" (click)="descargarExcel()">
          <mat-icon>file_download</mat-icon> Descargar Excel
        </button>
      </div>
    </div>

  </div> 
  
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora Inicio</th>
          <th>Hora Fin</th>
          <th>Horario Inicio Real</th>
          <th>Horario Fin Real</th>
          <th>Estado</th>
          <th>Observaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let horario of horarios">
          <td>{{ horario.fecha | date: 'dd/MM/yyyy' }}</td>
          <td>{{ horario.horaInicioProyectado }}</td>
          <td>{{ horario.horaFinProyectado }}</td>
          <td>{{ horario.horaInicioReal }}</td>
          <td>{{ horario.horaFinReal }}</td>
          <td>{{ horario.estado }}</td>
          <td>{{ horario.observaciones }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

