<div class="title-container">
  <div class="title-item">
    <h1>Detalle Orden de Trabajo</h1>
  </div>
</div>

<div class="content-container">
  <div class="form-container">
    <div class="form-row">
      <div class="form-group">
        <label for="empresa">Empresa:</label>
        <input type="text" id="empresa" [(ngModel)]="empresa" readonly />
      </div>
      <div class="form-group">
        <label for="empleado">Empleado:</label>
        <input type="text" id="empleado" [(ngModel)]="empleadoNombre" readonly />
      </div>
      <div class="form-group">
        <label for="empleado">Mes:</label>
        <input type="text" id="mes" [(ngModel)]="mes" readonly />
      </div>
      <div class="form-group">
        <label for="dias">Días:</label>
        <input type="text" id="dias" [(ngModel)]="dias" readonly />
      </div>
      <div class="form-group">
        <label for="horasProyectadas">Horas Proyectadas:</label>
        <input type="text" id="horasProyectadas" [(ngModel)]="horasProyectadas" readonly />
      </div>
      <div class="form-group">
        <label for="horasReales">Horas Reales:</label>
        <input type="text" id="horasReales" [(ngModel)]="horasReales" readonly />
      </div>
      <div class="form-row-footer">
        <div class="form-group-footer">
          <button mat-raised-button class="button-footer-pdf" color="primary" (click)="descargarPdf()">
            <mat-icon>get_app</mat-icon> PDF
          </button>
        </div>
        <div class="form-group-footer">
          <button mat-raised-button class="button-footer-excel" color="primary" (click)="descargarExcel()">
            <mat-icon>get_app</mat-icon> Excel
          </button>
        </div>
      </div>
    </div>
  </div> 
  
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Empleado Suplente</th>
          <th>Hora Inicio</th>
          <th>Hora Fin</th>
          <th>Horario Inicio Real</th>
          <th>Horario Fin Real</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let horario of horarios">
          <td>{{ horario.fecha | date: 'dd/MM/yyyy' }}</td>
          <td>
            <span *ngIf="horario.empleadoSuplente">
              {{ horario.empleadoSuplente.apellido }}, {{ horario.empleadoSuplente.nombre }}
            </span>
            </td>
          <td>{{ horario.horaInicioProyectado }}</td>
          <td>{{ horario.horaFinProyectado }}</td>
          <td><input type="time" [(ngModel)]="horario.horaInicioReal" [disabled]="!horario.editMode"/></td>
          <td><input type="time" [(ngModel)]="horario.horaFinReal" [disabled]="!horario.editMode"/></td>
          <td><select [(ngModel)]="horario.estado" name="estado" [disabled]="!horario.editMode" required> 
              <option value="Asistió">Asistió</option>
              <option value="Llegada Tarde">Llegada Tarde</option>
              <option value="Faltó Con Aviso">Faltó Con Aviso</option>
              <option value="Faltó Sin Aviso">Faltó Sin Aviso</option>
              <option value="Enfermedad">Enfermedad</option>
              <option value="Sin Servicio">Sin Servicio</option>
              <option value="Licencia">Licencia</option>
              <option value="Vacaciones">Vacaciones</option>
              </select>
          </td>
          <td>
            <button *ngIf="!horario.editMode" class="btn-edit" (click)="toggleEditMode(horario)"><mat-icon>edit</mat-icon></button>
            <button *ngIf="horario.editMode" class="btn-save" (click)="saveChanges(horario)"><mat-icon>check</mat-icon></button>
            <button *ngIf="horario.editMode" class="btn-cancel" (click)="cancelEdit(horario)"><mat-icon>close</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

