<app-nabvar></app-nabvar>
<h2>Detalle Orden Trabajo</h2>
<div class="line"></div>

<div class="content-container">
  <div class="form-container">
    <div class="form-row">
        <div class="form-group">
            <label>Empresa: {{ empresa }}</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label>Empleado: {{ empleado.apellido }}, {{ empleado.nombre }}</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label>Dias: {{ obtenerDias(necesidad) }} </label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label>Horas Proyectadas: {{ horasProyectadas }}</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label>Horas Reales: {{horasReales}}</label>
        </div>
    </div>
  </div> <!-- Aquí cerramos el div.form-container -->
  
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora Inicio</th>
          <th>Hora Fin</th>
          <th>Horario Inicio Real</th>
          <th>Horario Fin Real</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let horario of horarios">
          <td>{{ horario.fecha | date: 'dd/MM/yyyy' }}</td>
          <td>{{ horario.horaInicioProyectado }}</td>
          <td>{{ horario.horaFinProyectado }}</td>
          <td>{{ horario.horaInicioReal }}</td>
          <td>{{ horario.horaFinReal }}</td>
          <td>{{ horario.estado }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

