<app-nabvar></app-nabvar>
<div class="content-container">
    <h2>Disponibilidad Horaria</h2>
    <div class="line"></div>
  
    <div class="content-form">
      <form (ngSubmit)="guardarDisponibilidad()">
        
        <!-- Tabla de disponibilidad -->
        <div class="table-container">
          <table class="disponibilidad-table">
            <thead>
              <tr>
                <th>Día</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sábado</th>
                <th>Domingo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Horario de Entrada</td>
                <td><input type="time" name="lunesEntrada" required /></td>
                <td><input type="time" name="martesEntrada" required /></td>
                <td><input type="time" name="miercolesEntrada" required /></td>
                <td><input type="time" name="juevesEntrada" required /></td>
                <td><input type="time" name="viernesEntrada" required /></td>
                <td><input type="time" name="sabadoEntrada" required /></td>
                <td><input type="time" name="domingoEntrada" required /></td>
              </tr>
              <tr>
                <td>Horario de Salida</td>
                <td><input type="time"  name="lunesSalida" required /></td>
                <td><input type="time"  name="martesSalida" required /></td>
                <td><input type="time"  name="miercolesSalida" required /></td>
                <td><input type="time"  name="juevesSalida" required /></td>
                <td><input type="time"  name="viernesSalida" required /></td>
                <td><input type="time"  name="sabadoSalida" required /></td>
                <td><input type="time"  name="domingoSalida" required /></td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <!-- Botones -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-save" >Guardar Disponibilidad</button>
          <button type="button" class="btn btn-cancel" (click)="cancelar()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  