<div class="title-container">
    <div class="title-item">
      <h1>Horarios Realizados</h1>
    </div>
</div>

<div class="content-container">
    <div class="main-content">
  
      <div class="form-container">
          
          <!-- Seleccion Reporte de horas por Dia -->
        <div class="div-reporte-fecha-dia">
          <mat-form-field appearance="outline" class="mat-form">
            <mat-label class="mat-label">Empleado</mat-label>
            <input
              matInput
              [value]="empleado?.nombre + ' ' + empleado?.apellido"
              readonly
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-form">
            <mat-label class="mat-label">Mes</mat-label>
            <input matInput type="text" [value]="nombreMes" readonly/>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-form">
            <mat-label class="mat-label">Año</mat-label>
            <input matInput type="text" [value]="anio" readonly/>
          </mat-form-field>
        </div>
  
        
  
        <div class="form-row-footer">

          <div class="group-left">
            <mat-form-field appearance="outline" class="mat-form-field-horas">
              <mat-label class="mat-label">Total Horas</mat-label>
              <input matInput type="text" [value]="totalHorasRealizadas" readonly/>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field">
              <mat-label class="mat-label">A</mat-label>
              <input matInput type="text" [value]="totalAsistencias" readonly/>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field">
              <mat-label class="mat-label">LT</mat-label>
              <input matInput type="text" [value]="totalLT" readonly/>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field">
              <mat-label class="mat-label">FA</mat-label>
              <input matInput type="text" [value]="totalFC" readonly/>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field">
              <mat-label class="mat-label">FS</mat-label>
              <input matInput type="text" [value]="totalFS" readonly/>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field">
              <mat-label class="mat-label">E</mat-label>
              <input matInput type="text" [value]="totalE" readonly/>
            </mat-form-field>
            <p class="p-informacion">* A = Asitio / LT = Llegada Tarde / FC = Falta con Aviso / FS = Falta sin Aviso / E = Enfermedad</p>
          </div>

          <div class="group-right">
            <div class="form-group-footer">
                <button mat-raised-button class="button-footer-pdf" color="primary" (click)="descargarPdf()" >
                <mat-icon>get_app</mat-icon> PDF
                </button>
            </div>
            <div class="form-group-footer">
                <button mat-raised-button class="button-footer-excel" color="primary" (click)="descargarExcel()" >
                <mat-icon>get_app</mat-icon> Excel
                </button>
            </div>
          </div>
        </div>

      </div>
      <!-- Tabla Reporte de horas por Dia -->
      <div class="div-mat-reporte">
  
        <div class="table-container mat-elevation-z8"> 
          <table mat-table [dataSource]="dataSource" matSort> 
            <ng-container matColumnDef="ordenTrabajo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Orden N°</th>
                <td mat-cell *matCellDef="let horario"> {{ horario.ordenTrabajo.Id }} </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
              <td mat-cell *matCellDef="let horario"> {{ horario.fecha | date: 'dd/MM/yyyy' }} </td>
            </ng-container>
            <ng-container matColumnDef="empresa">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Empresa </th>
              <td mat-cell *matCellDef="let horario"> {{ horario.ordenTrabajo.servicio.nombre  }} </td>
            </ng-container>
    
            <ng-container matColumnDef="horasInicioProyectado">
              <th mat-header-cell *matHeaderCellDef> Horas Inicio </th>
              <td mat-cell *matCellDef="let horario"> {{ horario.horaInicioProyectado }} </td>
            </ng-container>
    
            <ng-container matColumnDef="horasFinProyectado">
              <th mat-header-cell *matHeaderCellDef> Horas Fin </th>
              <td mat-cell *matCellDef="let horario"> {{ horario.horaFinProyectado }} </td>
            </ng-container>
    
            <ng-container matColumnDef="horaInicioReal">
              <th mat-header-cell *matHeaderCellDef> Hora Inicio R </th>
              <td mat-cell *matCellDef="let horario"> {{ horario.horaInicioReal }} </td>
            </ng-container>
    
            <ng-container matColumnDef="horaFinReal">
              <th mat-header-cell *matHeaderCellDef> Hora Fin R </th>
              <td mat-cell *matCellDef="let horario"> {{ horario.horaFinReal }} </td>
            </ng-container>

            <ng-container matColumnDef="totalHoras">
              <th mat-header-cell *matHeaderCellDef> Total Horas </th>
              <td mat-cell *matCellDef="let horario"> {{ horario.horasTotales }} </td> 
            </ng-container> 
    
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let horario">
                <ng-container>
                  {{ horario.estadoDeterminado }}
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="suplente">
              <th mat-header-cell *matHeaderCellDef> Suplente </th>
              <td mat-cell *matCellDef="let horario">
                <ng-container>
                  <mat-icon [ngClass]="horario.empleadoSuplente ? 'check-icon' : 'close-icon'">
                    {{ horario.suplente ? 'check_circle' : 'cancel' }}
                  </mat-icon>
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="observaciones">
              <th mat-header-cell *matHeaderCellDef>Observaciones</th>
              <td mat-cell *matCellDef="let horario">
                <button mat-icon-button
                        [matBadge]="horario.observaciones.length > 0 ? '!' : ''"
                        matBadgeColor="warn"
                        (click)="abrirDialogoObservaciones(horario.observaciones)">
                  <mat-icon>note</mat-icon>
                </button>
              </td>
            </ng-container>
            

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [colSpan]="displayedColumns.length">
                No se encontraron informes con los filtros seleccionados.
              </td>
            </tr>
          </table>
  
          <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="10" aria-label="Seleccionar Pagina de Informes"></mat-paginator>
    
          <div *ngIf="loading" class="mat-spinner-container">
              <mat-spinner [diameter]="40"></mat-spinner>
          </div>
        </div>
        
      </div>
  
    </div>
</div>