<app-navbar></app-navbar>

<div class="title-container">
  <div class="title-item">
    <h1>Listado Ordenes de Trabajo</h1>
  </div>
</div>


<div class="content-container">
  <div class="search-filter-container">
    <div class="search-bar">
      <input type="text" placeholder="Buscar por Empresa..." [(ngModel)]="filtroEmpresa" (ngModelChange)="filtrarOrdenes()"/>
      <button routerLink='/ordentrabajo/create' class="btn btn-primary">+</button>
    </div>

    <div class="filters">
      <div class="filter">
        <label for="visualizarPor">Visualizar por:</label>
        <select id="visualizarPor" [(ngModel)]="estadoSeleccionado" (ngModelChange)="filtrarOrdenes()">
          <option [ngValue]="false">En Curso</option>
          <option [ngValue]="true">Completado</option>
        </select>
      </div>

      <div class="filter">
        <label for="ordenarPor">Mes</label>
        <select id="ordenarPor" [(ngModel)]="mesSeleccionado" (ngModelChange)="filtrarOrdenes()">
          <option *ngFor="let mes of meses" [value]="mes">{{ mes }}</option>
        </select>
      </div>

      <div class="filter">
        <label for="ordenarPor">Año</label>
        <select id="ordenarPor" [(ngModel)]="anioSeleccionado" (ngModelChange)="filtrarOrdenes()">
          <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Orden</th>
          <th>Empresa</th>
          <th>Empleado</th>
          <th>Mes</th>
          <th>Estado</th>
          <th>Horas P.</th>
          <th>Horas R.</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orden of ordenesFiltradas">
          <td>{{ orden.Id }}</td>
          <td>{{ orden.servicio.nombre }}</td>
          <td>{{ orden.empleadoAsignado.apellido }}, {{ orden.empleadoAsignado.nombre }}</td>
          <td>{{ orden.mes }}</td>
          <td>
            <span *ngIf="orden.completado" class="status completed">Completada</span>
            <span *ngIf="!orden.completado" class="status pending">En Curso</span>
            <span *ngIf="orden.eliminado" class="status delete">Eliminado</span>
          </td>
          <td>{{ truncateToTwoDecimals(orden.horasProyectadas) }}</td>
          <td>{{ truncateToTwoDecimals(orden.horasReales) }}</td>
          <td>
            <button class="btn-edit" [routerLink]="['/ordentrabajo/view', orden.Id]"><mat-icon>visibility</mat-icon></button>
            <button class="btn-delete" (click)="eliminarOrden(orden)"><mat-icon>delete</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
