<div class="title-container">
  <div class="title-item">
    <h1>Crear Factura</h1>
  </div>
</div>

<div class="container">
  <div class="form-container">
    <form class="form-factura" (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="datos-container">
        <div class="form-row">
          <div class="form-group">
            <label for="numero">Número de Factura</label>
            <input type="number" id="numero" [(ngModel)]="factura.numero" name="numero" class="form-control" pattern="^[0-9]{8}$" required />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="empresa">Empresa</label>
            <div class="form-group-inline">
              <input type="text" id="empresa" [(ngModel)]="empresaNombre" name="empresa" class="form-control" placeholder="Ingrese la Empresa" required [disabled]="true" />
              <div class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="abrirModalEmpresa()">Buscar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" [(ngModel)]="factura.fecha" name="fecha" class="form-control" required />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="total">Total</label>
            <input type="number" id="total" [(ngModel)]="factura.total" name="total" class="form-control" readonly />
          </div>
        </div>
        <div class="form-footer">
          <div class="form-group-footer">
            <button type="submit" class="btn btn-success">Guardar Factura</button>
          </div>
        </div>
      </div>  

      <div class="form-row-container">
        <div class="form-group">
          <label>Items</label>
          <table class="table">
            <thead>
              <tr>
                <th>Cantidad</th>
                <th>Descripción</th>
                <th>Valor</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of factura.items; let i = index">
                <td>
                  <input type="number" [(ngModel)]="item.cantidad" name="cantidad{{i}}" class="form-control"  (ngModelChange)="calcularTotal()" pattern="^[0-9]{8}$"/>
                </td>
                <td>
                  <input type="text" [(ngModel)]="item.descripcion" name="descripcion{{i}}" class="form-control"  (ngModelChange)="calcularTotal()" />
                </td>
                <td>
                  <input type="number" [(ngModel)]="item.valor" name="valor{{i}}" class="form-control"  (ngModelChange)="calcularTotal()" pattern="^[0-9]{8}$" />
                </td>
                <td>
                  <button type="button" class="btn btn-danger" (click)="eliminarItem(i)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-primary" (click)="agregarItem()">Agregar Item</button>
        </div>
      </div>
    </form>
  </div>
</div>
