<app-nabvar></app-nabvar>
  <h2>Registrar Nuevo Empleado</h2>
  <div class="line"></div>
<div class="container">
    <div class="sidebar">
      <ul class="sidebar-menu">
        <li (click)="mostrarSeccion('ordenTrabajo')" [class.active]="seccionActual === 'ordenTrabajo'">Crear Orden de Trabajo</li>
      </ul>
    </div>

    <div class="form-container">
      <form #empleadoForm="ngForm" (ngSubmit)="guardarEmpleado()">

        <div *ngIf="seccionActual === 'ordenTrabajo'">
          <div class="form-row">
            <div class="form-group">
              <label for="nombre">Empresa</label>
              <input type="text" id="nombre" [(ngModel)]="empleado.nombre" name="nombre" class="form-control" placeholder="Ingrese " required #nombreEmpleado="ngModel" disabled/>
              <div *ngIf="nombreEmpleado.invalid && nombreEmpleado.touched" class="error"><i class="fas fa-times-circle"></i> La Empresa es requerida.</div>
            </div>

            <div class="form-group">
              <label for="apellido">Empleado</label>
              <input type="text" id="apellido" [(ngModel)]="empleado.apellido" name="apellido" class="form-control" placeholder="Ingrese el Empleado" required #apellidoEmpleado="ngModel" disabled />
              <div *ngIf="apellidoEmpleado.invalid && apellidoEmpleado.touched" class="error"><i class="fas fa-times-circle"></i> El Empleado es requerido.</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="telefono">Mes</label>
              <input type="tel" id="telefono" [(ngModel)]="empleado.telefono" name="telefono" class="form-control" placeholder="Ingrese el teléfono" required #telefonoEmpleado="ngModel" maxlength="10" pattern="^[0-9]{10}$" (input)="validarTelefono($event)" />
              <div *ngIf="telefonoEmpleado.touched && telefonoEmpleado.invalid" class="error"><i class="fas fa-times-circle"></i> El Mes es requerido.</div>
            </div>

            <div class="form-group">
              <div class="form-group full-width">
                <label for="email">Año</label>
                <input type="text" id="email" [(ngModel)]="empleado.email" name="email" class="form-control" placeholder="Ingrese el email" required #emailEmpleado="ngModel"/>
                <div *ngIf="emailEmpleado.invalid && emailEmpleado.touched" class="error"><i class="fas fa-times-circle"></i> El Año es requerido.</div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
                <label for="ciudad">Dias</label>
                <input type="text" id="ciudad" [(ngModel)]="ciudadNombre" name="ciudadNombre" class="form-control" placeholder="Ingrese la ciudad" (input)="buscarCiudad($event)" (change)="seleccionarCiudad($event)" list="ciudadesList" required #ciudadNombreEmpleado="ngModel"/>
                <div *ngIf="ciudadNombreEmpleado.invalid && ciudadNombreEmpleado.touched" class="error"><i class="fas fa-times-circle"></i> La </div>
                <datalist id="ciudadesList">
                  <option *ngFor="let ciudad of ciudades" [value]="ciudad.nombre"></option>
                </datalist>
              </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="observaciones">Hora Inicio</label>
              <textarea id="observaciones" [(ngModel)]="empleado.observaciones" name="observaciones" class="form-control" rows="3" maxlength="250"></textarea>
            </div>

            <div class="form-group">
                <label for="observaciones">Hora Fin</label>
                <textarea id="observaciones" [(ngModel)]="empleado.observaciones" name="observaciones" class="form-control" rows="3" maxlength="250"></textarea>
              </div>
          </div>

        </div>

        <!-- Botones -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-save" [disabled]="empleadoForm.invalid">Guardar Orden de Trabajo</button>
          <button type="button" class="btn btn-cancel" (click)="cancelar()">Cancelar</button>
        </div>
      </form>
    </div>
</div>