<div class="title-container">
  <div class="title-item">
    <h1>Crear Orden de Trabajo</h1>
  </div>
</div>

<div class="container">
  <div class="sidebar">
    <ul class="sidebar-menu">
      <li (click)="mostrarSeccion('ordenTrabajo')" [class.active]="seccionActual === 'ordenTrabajo'">Crear Orden de Trabajo</li>
    </ul>
  </div>

  <div class="form-container">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div *ngIf="seccionActual === 'ordenTrabajo'">
        <div class="form-row">
          <div class="form-group">
            <label for="empresa">Empresa</label>
            <div class="form-group-inline">
              <input type="text" id="empresa" [(ngModel)]="empresaNombre" name="empresa" class="form-control" placeholder="Ingrese la Empresa" required [disabled]="true" />
              <div class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="abrirModalEmpresa()">Buscar</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="empleado">Empleado</label>
            <div class="form-group-inline">
              <input type="text" id="empleado" [(ngModel)]="empleadoNombre" name="empleado" class="form-control" placeholder="Ingrese el Empleado" required [disabled]="true" />
              <div class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="abrirModalEmpleado()">Buscar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="fechaOrden">Fecha Desde</label>
            <input type="date" id="fechaDesde" [(ngModel)]="fechaDesde" name="fechaOrden" class="form-control" required />
          </div>

          <div class="form-group">
            <label for="fechaOrden">Fecha Hasta</label>
            <input type="date" id="fechaHasta" [(ngModel)]="fechaHasta" name="fechaOrden" class="form-control" required  />
          </div>
        </div>

        <div class="disponibilidad-grid">
          <div class="grid-header">
            <div>Día</div>
            <div>Hora Inicio</div>
            <div>Hora Fin</div>
          </div>

          <div *ngFor="let dia of necesidad; let i = index" class="grid-row">
            <div>{{ dia.nombre }}</div>
            <div>
              <input type="time" [(ngModel)]="dia.horaInicio" name="horaInicio{{i}}" />
            </div>
            <div>
              <input type="time" [(ngModel)]="dia.horaFin" name="horaFin{{i}}" />
            </div>
          </div>
        </div>
      </div>
           
      <div class="modal-footer">
        <button type="submit" class="btn btn-save" [disabled]="!form.valid">Guardar Orden de Trabajo</button>
        <button type="button" class="btn btn-cancel" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
