<app-nabvar></app-nabvar>
<div class="home-container">

  <div class="title-container">
    <div class="title-item">
      <h1> Bienvenido Administrador</h1>
    </div>    
  </div>

  <!-- Fila de Horas Proyectadas y Horas Reales -->
  <div class="hours-container">
    <div class="hours-item">
      <label for="horasProyectadas">Horas Proyectadas:</label>
      <input type="number" id="horasProyectadas"/>
    </div>
    <div class="hours-item">
      <label for="horasReales">Horas Reales:</label>
      <input type="number" id="horasReales"/>
    </div>
  </div>

  <!-- Botones de acción rápida -->
  <div class="action-buttons">
    <button class="action-btn" routerLink="/empleados">
        <img src="assets/icons/employees-icon.svg" alt="Empleados" />
        <span>Usuarios</span>
      </button>
    <button class="action-btn" routerLink="/empleados">
      <img src="assets/icons/employees-icon.svg" alt="Empleados" />
      <span>Empleados</span>
    </button>
    <button class="action-btn" routerLink="/control-horario">
      <img src="assets/icons/time-control-icon.svg" alt="Control Horario" />
      <span>Control Horario</span>
    </button>
    <button class="action-btn" routerLink="/ordenes-trabajo">
      <img src="assets/icons/orders-icon.svg" alt="Órdenes de Trabajo" />
      <span>Órdenes de Trabajo</span>
    </button>
    <button class="action-btn" routerLink="/informes">
      <img src="assets/icons/reports-icon.svg" alt="Informes" />
      <span>Informes</span>
    </button>
    <button class="action-btn" routerLink="/empresas">
      <img src="assets/icons/companies-icon.svg" alt="Empresas" />
      <span>Empresas</span>
    </button>
    <button class="action-btn" routerLink="/facturacion">
      <img src="assets/icons/invoicing-icon.svg" alt="Facturación" />
      <span>Facturación</span>
    </button>
  </div>
</div>
